/* confirm */

.options {
    display: flex;
    flex-direction: row;
}

.relativeContainer {
    display: flex;
    z-index: 100000;
    text-align: center;
    flex: 1;
    align-items: center;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    /*width: -moz-available;
    width: -webkit-fill-available:*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.confirmBox {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 2rem;
    top: 15rem;
    position: absolute;
}

.button {
    border-radius: 10px;
    border-color: #f4f4f4;
    background-color: #f4f4f4;
    padding: 0.5rem;
    margin: 0.5rem 1rem;
}
