/* .container {
  width: 100%;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
  min-width: 5rem;
  line-height: 26px;
  margin-bottom: 10px;
  margin-right: 50%;
}

.input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 20rem;
  min-width: 20rem;
}

.select {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 20rem;
  min-width: 20rem;
}

.textarea {
  flex: 0 0 200px;
  margin-left: 20rem;
  min-width: 20rem;
}

.create {
  border: none;
  color: white;
  padding: 24px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
} */

.container {
    background-color: rgba(255, 255, 255, 0.58);
    /* margin: auto; */
    /* margin-left: 4rem; */
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 30px;
    width: 60%;
}

.container span {
    padding-left: 40px;
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.container input {
    min-height: 25px;
    display: inline-block;
    width: 50%;
    outline: none !important;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(209, 209, 209, 0.58);
}

.container select {
    min-height: 25px;
    display: inline-block;
    width: 50%;
    outline: none !important;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(209, 209, 209, 0.58);
}

.container textarea {
    display: inline-block;
    margin-top: 10px;
    width: 50%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(209, 209, 209, 0.58);
}

.submit {
    margin: auto;
    width: 50%;
    text-align: center;
}

.title {
    margin-left: 3rem;
}

.custom_file_input::-webkit-file-upload-button {
    visibility: hidden;
}

.submit {
    /* margin: auto; */
    width: 50%;
    text-align: center;
    margin-left: 23.4rem;
}
