.container {
  width: 100%;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
  min-width: 5rem;
  line-height: 26px;
  margin-bottom: 10px;
  margin-right: 50%;
}

.input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 20rem;
  min-width: 20rem;
}

.select {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 20rem;
  min-width: 20rem;
}

.textarea {
  flex: 0 0 200px;
  margin-left: 20rem;
  min-width: 20rem;
}

.create {
  background-color: #71002e; /* Green */
  border: none;
  color: white;
  padding: 24px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
