.container {
    padding: 20px;
    /* background-color: rgba(209, 209, 209, 0.58); */
    /* margin: auto; */
    margin-top: 20px;
    line-height: 30px;
    width: 500px;
}

.container span {
    padding-left: 40px;
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.container input {
    min-height: 25px;
    display: inline-block;
    width: 50%;
    outline: none !important;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(209, 209, 209, 0.58);
}

.container textarea {
    display: inline-block;
    margin-top: 10px;
    width: 50%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(209, 209, 209, 0.58);
    resize: none;
}

.submit {
    /* margin: auto; */
    width: 50%;
    text-align: center;
    margin-left: 8.6rem;
}

.custom_file_input::-webkit-file-upload-button {
    visibility: hidden;
    text-align: center;
}
