.container {
  /* background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-gradient-from: #e5e7eb;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(229, 231, 235, 0));
    --tw-gradient-to: #f3f4f6; */
  /* height: 100vw; */

  /* ONLY TEMPORARY BG */
  background-color: beige;
  margin-left: 20%;
  margin-top: 6rem;
  width: 100%;
}

.cards {
  display: flex;
  padding: 1rem;
  --tw-space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.main {
  display: flex;
  margin-left: 0.75rem;
  /* margin-top: 1.5rem; */
  margin-right: 1rem;
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.calender {
  display: flex;
  margin-left: 0.75rem;
  margin-top: 1.5rem;
  margin-right: 1rem;
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}
