.table {
  text-align: center;
}

.thead {
  background-color: red;
  width: 2rem;
}

.tbody {
  background-color: gainsboro;
}

.th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #71002e;
  color: white;
  width: 1%;
  text-align: center;
}

.td {
  /* border: 1px solid rgb(117, 117, 117); */
  border-bottom: 1px solid rgb(177, 177, 177);
  padding: 8px;
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  /* border: 1px solid rgb(0, 0, 0); */
}

.icons {
  display: flex;
  justify-content: space-around;
}
