@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.container {
    position: absolute;
    width: 20rem;
    height: 3rem;
    margin: 2rem;
    
    background: linear-gradient(180deg, #dfdfdfb4 0%, #e7e7e7a6 100%);
    border-radius: 10px;

    display: grid;
    align-items: center;
    justify-items: left;
    grid-template-columns: repeat(3, 1fr);
}


.day {
    grid-column: 1;
    margin-left: 0.5rem;
    width: 5rem;
    font-family: 'Noto Sans CJK HK', Regular;
    font-style: normal;
    font-weight: regular;
    font-size: 14px;
}

.switch {
    grid-column: 2;
    width: 1rem;
}

.secondaryContainer {
    grid-column: 3;

    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.smallText {
    grid-column: 1;
    width: 3rem;
    text-align: left;

    color: black;
    font-family: 'Noto Sans CJK HK', Regular;
    font-style: normal;
    font-weight: regular;
    font-size: 12px;
}

.inputStart {
    grid-column: 2;
    width: 3rem;
    text-align: center;
    margin: 0.8rem;

    border: none;
    background-color: white;
    border-radius: 6px;

    color: black;
    font-family: 'Noto Sans CJK HK', Regular;
    font-style: normal;
    font-weight: regular;
    font-size: 14px;
}

.seperator {
    grid-column: 3;
    width: 0.5rem;
    height: 2rem;
    margin: 0;
    font-family: 'Noto Sans CJK HK', Regular;
    font-style: normal;
    font-weight: regular;
    font-size: 14px;
}

.inputEnd {
    grid-column: 4;
    width: 3rem;
    text-align: center;
    margin: 0.8rem;

    border: none;
    background-color: white;
    border-radius: 6px;

    color: black;
    font-family: 'Noto Sans CJK HK', Regular;
    font-style: normal;
    font-weight: regular;
    font-size: 14px;
}

.emptyContainer {
    grid-column: 2;
    width: 9.8rem;
}