/* preview */
.nationPreview {
    display: flex;
    flex: 1;
    margin: 2rem;
    padding: 1rem 3rem;
    border-radius: 10px;
    background-color: white;
    height: 40rem;
    flex-direction: column;
}

.mockPhone {
    display: flex;
    height: 30rem;
    width: 15rem;
    border: 1px solid black;
    border-radius: 5px;
    flex-direction: column;
    align-self: center;
}

.statusBar {
    height: 1rem;
    background-color: pink;
    border-radius: 4px 4px 0 0;
}

.backgroundImg {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img {
    flex: 1;
}

.backColor {
    display: flex;
    flex: 1;
    opacity: 0.6;
    background-size: cover;
}

.icon {
    height: 3rem;
    width: 3rem;
    align-self: center;
    background-size: 2.5rem;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    position: absolute;
    top: 20.3rem;
}

.description {
    flex: 1;
    background-color: white;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.nationName {
    height: 2rem;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: inherit;
    text-align: center;
}

.descriptionText {
    padding: 0.5rem 1rem 0 1rem;
    font-size: 11px;
    overflow: hidden;
    max-height: 12rem;
}

.mockDescription {
    font-size: 12px;
}
