.choice {
    border-bottom: 1px solid #e0e0e0;
    height: 2rem;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 5px;
}

.text {
    align-self: center;
}

.button {
    border-radius: 5px;
    border-color: #71002e;
    background-color: #71002e;
    color: white;
    width: 7rem;
    height: 100%;
}

.button:hover {
    background-color: #900238;
    border-color: #900238;
}

.colorPickerDiv {
    width: 15rem;
    display: flex;
}

.colorChoice {
    width: 22rem;
    display: flex;
    flex-direction: row;
}

.colorPicker {
    position: absolute;
    margin-top: 2rem;
}

.colorButton {
    width: 7rem;
}

.accentColor {
    margin-left: 0.5rem;
    border-radius: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}
