html {
    --color-overlay: rgba(0, 0, 0, 0.65);
    --color-focus-primary: #db5189;
    --color-focus-default: #ccc;
    --color-focus-input: #555;
    --color-focus-secondary: #6f718e;
    --color-focus-error: #ff4962;
    --color-focus-success: #37c861;
    --color-primary: #71002e;
    --color-primary-dark: #590326;
    --color-primary-extra: #91053d;
    --color-primary-highlight: #ffe5f0;
    --color-primary-text: var(--color-primary);
    --color-primary-text-light: #eecbd9;
    --color-secondary: #1e1f2f;
    --color-secondary-extra: #2e2f48;
    --color-background: white;
    --color-background-extra: #f1f1f1;
    --color-background-highlight: #e2e2e2;
    --color-card: var(--color-background);
    --color-border: #f1f1f1;
    --color-border-dark: #ccc;
    --color-text: #222;
    --color-text-extra: #a1a1aa;
    --color-text-highlight: #000;
    --color-error: #b3152b;
    --color-error-highlight: #fbc8cf;
    --color-error-highlight-text: #ae3333;
    --color-success: #167933;
    --color-success-highlight: #b3ffcb;
    --color-success-highlight-text: #148c47;
}

html.dark {
    --color-focus-default: #393648;
    --color-focus-input: #55516a;
    --color-focus-secondary: #7e80a4;
    --color-primary-text: #ffa0c6;
    --color-secondary: #363853;
    --color-secondary-extra: #404366;
    --color-background: #0a090c;
    --color-background-extra: #141319;
    --color-background-highlight: #262430;
    --color-card: var(--color-background-extra);
    --color-border: #25232d;
    --color-border-dark: #3d3b49;
    --color-text: #d4d4d4;
    --color-text-extra: #939393;
    --color-text-highlight: white;
    --color-error-highlight: #6f101c;
    --color-error-highlight-text: #ffa8b4;
    --color-success-highlight: #154023;
    --color-success-highlight-text: #0aff75;
}

html,
body {
    background-color: var(--color-background);
    color: var(--color-text);
}

svg {
    height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
