html {
    --color-focus-primary: #fd78ae;
    --color-focus-default: #b9004b;
    --color-primary: #71002e;
    --color-primary-dark: #590326;
    --color-primary-extra: #91053d;
    --color-primary-highlight: #ffe5f0;
    --color-primary-text: var(--color-primary);
    --color-primary-text-light: #eecbd9;
    --color-secondary: #1e1f2f;
    --color-secondary-extra: #2e2f48;
    --color-background: white;
    --color-background-extra: #f1f1f1;
    --color-background-highlight: #e2e2e2;
    --color-card: var(--color-background);
    --color-border: #f1f1f1;
    --color-border-dark: #ccc;
    --color-text: #222;
    --color-text-extra: #a1a1aa;
    --color-text-highlight: #000;
    --color-error-text: #e03c3f;
}

html.dark {
    --color-focus-default: #e84889;
    --color-primary-text: #ff61a0;
    --color-secondary: #363853;
    --color-secondary-extra: #404366;
    --color-background: #0a090c;
    --color-background-extra: #141319;
    --color-background-highlight: #262430;
    --color-card: var(--color-background-extra);
    --color-border: #25232d;
    --color-border-dark: #3d3b49;
    --color-text: #d4d4d4;
    --color-text-extra: #939393;
    --color-text-highlight: white;
    --color-error-text: #fc5372;
}

html,
body {
    background-color: var(--color-background);
    color: var(--color-text);
}

/* Tailwind does not support setting the border-width based on dark/light mode */
html.dark .card {
    border-width: 1px;
}

svg {
    height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
