@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.background {
    position: absolute;
    width: 100%;
    height: 67%;
    top: 33%;
    
    background-image: url("../img/Uppsala vector.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    position: absolute;
    top: 60px;
}

.headerText {
    font-family: 'Noto Sans CJK HK', Regular;
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.9em;
    padding-left: 0.9em;
    color: #1b1b1b;
}

.loginContainer {
    position: absolute;
    width: 20%;
    height: 40%;

    margin-left: auto;
    margin-right: auto;
    top: 250px;
}

.text {
    font-style: normal;
    font-size: 14px;
}

.textPanel {
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    
    background: #E9E9E9;
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.loginPanel {
    cursor: pointer;

    width: 100%;
    height: 3rem;
    border-radius: 5px;
    border: none;

    background: #4C4C4C;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginButtonText {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.4em;
    padding-left: 0.4em;

    color: white;
}

.inputPanel {
    height: 100%;
    font-style: normal;
    font-size: 14px;
    padding-left: 1em;
    padding-right: 1em;

    flex: 1;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.showButton {
    cursor: pointer;
    
    border: none;
    background-color: transparent;

    font-style: normal;
    font-size: 14px;
}

.errorMessage {
    position: relative;
    width: 20%;
    min-width: 16em;
    height: 2em;
    top: 200px;
    
    color: white;
    background-color: #71002e;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMessage[shake='1'] {
    animation: shake 0.8s;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(-2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(-4px, 0, 0);
    }
  }