.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.background {
    position: absolute;
    width: 100%;
    height: 70%;
    top: 30%;
    
    background-image: url("../img/Uppsala vector.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 92px;
}

.headerText {
    font-family: 'Noto Sans CJK HK', Regular;
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.9em;
    padding-left: 0.9em;
    color: #1b1b1b;
}

.loginContainer {
    position: absolute;
    width: 20%;
    height: 40%;

    margin-left: auto;
    margin-right: auto;
    top: 250px;
}

.text {
    font-family: 'Noto Sans CJK HK', Regular;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
}

.textPanel {
    position: absolute;
    width: 100%;
    height: 18%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    
    background: #E9E9E9;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginPanel {
    position: absolute;
    width: 100%;
    height: 18%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;

    background: #4C4C4C;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginButtonText {
    font-family: 'Noto Sans CJK HK', Regular;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.5em;

    color: white;
}