
.pageContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
}
.nationOptions {
    flex:2;
    margin: 2rem;
    padding: 1rem 3rem;
    border-radius: 10px;
    background-color: white;
    height: 30rem;
}

.nationPreview {
    flex: 1; 
    margin: 2rem;
    padding: 1rem 3rem;
    border-radius: 10px;
    background-color: white;
    height: 40rem;
}
