.inputBox {
    background-color: white;
    display: flex;
    flex: 1;
    height: 35rem;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    border-color: white;
}

/* Input text */
.titleText {
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 10px;
    border: #f4f4f4;
    background-color: #f4f4f4;
}

.contentText {
    padding: 1rem;
    padding-bottom: 15rem;
    margin: 0.5rem 0;
    border-radius: 10px;
    border: #f4f4f4;
    background-color: #f4f4f4;
}

.submit {
    align-self: flex-end;
    border-radius: 10px;
    border: #f4f4f4;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 1rem;
}
