.container {
    display: flex;
    background-color: pink;
}

.header {
    width: 100vw;
}

.inputti2 {
    background-color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 2rem 2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    border-color: white;
    height: 45rem;
}

.realContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
}

/* Previous posts */

.titlePrev {
}

.prevPostsBox {
    margin: 1rem;
    border-radius: 10px;
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.prevPostsBox::-webkit-scrollbar {
    width: 7px;
}

.prevPostsBox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #e4e4e4;
}

.prevPostsBox::-webkit-scrollbar-track {
    border-radius: 10px;
}
