@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.headerText {
    font-family: 'Noto Sans CJK HK', Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.smallHeaderText {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    font-family: 'Noto Sans CJK HK', Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.text {
    font-family: 'Noto Sans CJK HK', Regular;
    font-style: normal;
    font-weight: regular;
    font-size: 14px;
}

.container {
    background-color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 2rem 2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    border-color: white;
    height: 45rem;
}

.postBox {
    margin: 1rem;
    margin-left: 0rem;
    border-radius: 10px;
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.postBox::-webkit-scrollbar {
    width: 7px;
}

.postBox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #e4e4e4;
}

.postBox::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* post */

.postContainer {
    border-bottom: 2px solid #f4f4f4;
}
