.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.bar {
    position: absolute;
    height: 0.7rem;
    width: 8rem;
    border-radius: 8px;
    background-color: white;
    border: solid 2px black;
}

.fillBar {
    height: 100%;
    border-radius: inherit;
}
